.backgroundInitial{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}
.nameApp{
    width: 100%;
    height: 0%;
}
.titule{
    width: 70%;
}
.playPrincipal{
    outline: 0;
    border: 0;
    position: fixed;
    left: 42%;
    top: 47%;
}
.musicPrincipal{
    outline: 0;
    border: 0;
    position: fixed;
    left: 42%;
    top: 78%;
}
.creditsPrincipal{
    outline: 0;
    border: 0;
    position: fixed;
    left: 52%;
    top: 79%;
    height: 82px;
    width: 71px;
}
.childrens{
    position: absolute;
    top: -11%;
    right: 0%;
    width: 100%;
    height: auto;
}
.intro1{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    
}
.backgroundSection{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    background-image: url('../img/Repite.png');
}
.history1{
    width: 100%;
    height: 0%;
}
.advancement{
    position: fixed;
    left: 83%;
    top: 72%;
}
.musicIntro{
    position: fixed;
    left: 5%;
    top: 80%;
}
.introduction{
    margin-top: 20%;
    width: 100%;
    height: auto
}
.puzzle{
    position: relative;
    width:100%;
    height:100%;
    
}
.killaPuzzle{
    position: fixed;
    top: 15%;
    right: 7%;
    width: 212px;
    height: 570px;
}

.puzzle_text{
    position: fixed;
    top: 11%;
    left: 18%;
}
.btnJugarPuzzle{
    position: fixed;
    bottom: 15%;
    left: 37%;
    width: 140px;
    height: 170px;

}
.btnJugarPuzzle.ganar{
    bottom: 15%;
    left: 37%;
    width: 140px;
    height: 150px; 
}
.btnJugarPuzzler.perder{
    bottom: 15%;
    left: 37%;
    width: 140px;
    height: 150px; 
}

.btnAtrasPuzzle{
    position: fixed;
    bottom: 25%;
    left: 10%;
    width: 65px;
    height: 70px;
}
.btnSonidoPuzzle{
    position: fixed;
    bottom: 13%;
    left: 10%;
    width: 65px;
    height: 70px;
}
.Lose{
    position: fixed;
    top: 10%;
    left: 12%;
}
.win{
    position: fixed;
    top: 13%;
    left: 12%;
    width: 598px;
    height: 578px;
}
#DevelopPuzzle{
    background-image: url(../img/background.png);
    background-size:cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100%; 
}
.titulePuzzle{
    width: 100%;
    height: 16%;
    margin-top: 7px;
}
.ImgPuzzle{
    margin-top: 10px;
    text-align: center;
}
.BtnhomePuzle{
    float: left;
    position: fixed;
    top: 12px;
    left: 46px;
}
.btnSonidoPuzzle{
    position: fixed;
    top: 11px;
    left: 89%;
}
.tableGamePuzzle{
    border-radius: 0 0 34px 34px;
    margin-top: -7px;
    width: 92%;
    height: 78%;
    background-image: url(../img/fondo_rompecabezas.png);
    background-repeat: no-repeat;
    margin-left: 49px;  
    position: relative;
    overflow: hidden;
    background-size:cover;
}
.entrono{
    position: fixed;
    overflow: hidden;
}
.BtnInitialhomePuzle{
    float: left;
    position: fixed;
    top: 12px;
    left: 46px;
}
.btnInitialSonidoPuzzle{
    position: fixed;
    bottom: 88%;
    left: 88%;
    width: 65px;
    height: 70px;
}
.playInitial{
    position: fixed;
    top: 62%;
    left: 28%;
}
.backInitial{
    position: fixed;
    top: 81%;
    left: 8%;
}
.kilaInitialPuzzle{
    position: fixed;
    top: 56%;
    left: 60%;
}
.gifPuzzle{
    position: fixed;
    top: 13%;
    left: 63%;
}
.BtnWinhomePuzle{
    float: left;
    position: fixed;
    top: 12px;
    left: 46px;
}
.btnWinSonidoPuzzle{
    position: fixed;
    bottom: 88%;
    left: 88%;
    width: 65px;
    height: 70px;
}
.kilaWin{
    position: fixed;
    top:30%;
    left: 69%;
}
.ubicationButton{
    position: fixed;
    top:70%;
    left: 35%;
}